<app-nav-bar></app-nav-bar>
<div id="content-wrapper">
  <!--================ Banner Area =================-->
  <div class="banner">
    <div class="container">
      <div class="row">
        <h3 class="tt-title">
          {{ "about.mainTitle" | translation : language }}
        </h3>
      </div>
    </div>
  </div>
  <!--================ End Banner Area =================-->
  <!--================ Breadcrumb =================-->
  <div class="container" [dir]="textDir">
    <div class="row">
      <div class="breadcrumb d-flex justify-content-center">
        <ul>
          <li>
            <a href="index.html">
              {{ "contactUs.home" | translation : language }}
            </a>
          </li>
          <li *ngIf="textDir === 'ltr'">
            <i class="icofont icofont-double-right"> </i>
          </li>
          <li *ngIf="textDir === 'rtl'" class="rotate-180">
            <i class="icofont icofont-double-right"> </i>
          </li>
          <li>
            <a href="#">
              {{ "about.mainTitle" | translation : language }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--================ End Breadcrumb =================-->
  <!--================ About Technologies Section =================-->
  <div class="about_technologies cellpadding">
    <div class="container">
      <div class="technologies">
        <div class="row">
          <div class="col-md-4">
            <div class="single-sec">
              <div class="icon">
                <i class="icofont icofont-calculations"></i>
                <h4 class="sub-title">
                  {{ "about_title_1" | translation : language }}
                </h4>
              </div>
              <div class="simple-text">
                <p>
                  {{ "about_desc_1" | translation : language }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-sec">
              <div class="icon">
                <i class="icofont icofont-help-robot"></i>
                <h4 class="sub-title">
                  {{ "about_title_2" | translation : language }}
                </h4>
              </div>
              <div class="simple-text">
                <p>
                  {{ "about_desc_2" | translation : language }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-sec">
              <div class="icon">
                <i class="icofont icofont-under-construction-alt"></i>
                <h4 class="sub-title">
                  {{ "about_title_3" | translation : language }}
                </h4>
              </div>
              <div class="simple-text">
                <p>
                  {{ "about_desc_3" | translation : language }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================ End About Technologies Section =================-->

  <app-footer></app-footer>
</div>
