<app-nav-bar></app-nav-bar>
<div id="content-wrapper">
  <!--================ Banner Area =================-->
  <div class="banner">
    <div class="container">
      <div class="row">
        <h3 class="tt-title">
          {{ "product.mainTitle" | translation : language }}
        </h3>
      </div>
    </div>
  </div>
  <!--================ End Banner Area =================-->
  <!--================ Breadcrumb =================-->
  <div class="container">
    <div class="row">
      <div class="breadcrumb d-flex justify-content-center">
        <ul>
          <li>
            <a href="home">
              {{ "contactUs.home" | translation : language }}
            </a>
          </li>
          <li><i class="icofont icofont-double-right"></i></li>
          <li>
            <a href="projects">
              {{ "product.mainTitle" | translation : language }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--================ End Breadcrumb =================-->
  <div class="portfolio latest_work_01 project_3columns cellpadding">
    <div class="container">
      <div class="row">
        <ul class="portfolio-sorting list-inline text-center">
          <li><a href="#" data-group="all" class="active">ALL</a></li>
          <li><a href="#" data-group="residential">Residential</a></li>
          <li><a href="#" data-group="interiors">Interiors</a></li>
          <li><a href="#" data-group="architecture">Architecture</a></li>
          <li><a href="#" data-group="commerical">Commerical</a></li>
        </ul>
        <!--end portfolio sorting -->
        <!-- <div class="mt-5">
          <div class="row">
            <div class="col-md-4">
              <figure class="portfolio-item item pt-0 ">
                <a href="#">
                  <img
                    src="assets/images/project/img11.jpg"
                    alt="Item 1"
                    class="img-fluid"
                  />
                </a>
                <div class="overlay">
                  <div class="inner">
                    <h5>Residential</h5>
                    <a
                      href="assets/images/project/img11.jpg"
                      class="zoom popupzoom"
                      ><i class="icofont icofont-search"></i
                    ></a>
                    <a href="#" class="link"
                      ><i class="icofont icofont-link"></i
                    ></a>
                  </div>
                </div>
              </figure>
            </div>

            <div class="col-md-4">
              <figure class="portfolio-item item">
                <a href="#">
                  <img
                    src="assets/images/project/img12.jpg"
                    alt="Item 1"
                    class="img-fluid"
                  />
                </a>
                <div class="overlay">
                  <div class="inner">
                    <h5>Kitchen Interiors</h5>
                    <a
                      href="assets/images/project/img12.jpg"
                      class="zoom popupzoom"
                      ><i class="icofont icofont-search"></i
                    ></a>
                    <a href="#" class="link"
                      ><i class="icofont icofont-link"></i
                    ></a>
                  </div>
                </div>
              </figure>
            </div>

            <div class="col-md-4">
              <figure class="portfolio-item item">
                <a href="#">
                  <img
                    src="assets/images/project/img13.jpg"
                    alt="Item 1"
                    class="img-fluid"
                  />
                </a>
                <div class="overlay">
                  <div class="inner">
                    <h5>Industries</h5>
                    <a
                      href="assets/images/project/img13.jpg"
                      class="zoom popupzoom"
                      ><i class="icofont icofont-search"></i
                    ></a>
                    <a href="#" class="link"
                      ><i class="icofont icofont-link"></i
                    ></a>
                  </div>
                </div>
              </figure>
            </div>
            <div class="w-100"></div>

            <div class="col-md-4">
              <figure class="portfolio-item item">
                <a href="#">
                  <img
                    src="assets/images/project/img14.jpg"
                    alt="Item 1"
                    class="img-fluid"
                  />
                </a>
                <div class="overlay">
                  <div class="inner">
                    <h5>Modern Architecture</h5>
                    <a
                      href="assets/images/project/img14.jpg"
                      class="zoom popupzoom"
                      ><i class="icofont icofont-search"></i
                    ></a>
                    <a href="#" class="link"
                      ><i class="icofont icofont-link"></i
                    ></a>
                  </div>
                </div>
              </figure>
            </div>

            <div class="col-md-4">
              <figure class="portfolio-item item">
                <a href="#">
                  <img
                    src="assets/images/project/img15.jpg"
                    alt="Item 1"
                    class="img-fluid"
                  />
                </a>
                <div class="overlay">
                  <div class="inner">
                    <h5>Row Houses</h5>
                    <a
                      href="assets/images/project/img15.jpg"
                      class="zoom popupzoom"
                      ><i class="icofont icofont-search"></i
                    ></a>
                    <a href="#" class="link"
                      ><i class="icofont icofont-link"></i
                    ></a>
                  </div>
                </div>
              </figure>
            </div>

            <div class="col-md-4">
              <figure class="portfolio-item item">
                <a href="#">
                  <img
                    src="assets/images/project/img16.jpg"
                    alt="Item 1"
                    class="img-fluid"
                  />
                </a>
                <div class="overlay">
                  <div class="inner">
                    <h5>Living Room Interior</h5>
                    <a
                      href="assets/images/project/img16.jpg"
                      class="zoom popupzoom"
                      ><i class="icofont icofont-search"></i
                    ></a>
                    <a href="#" class="link"
                      ><i class="icofont icofont-link"></i
                    ></a>
                  </div>
                </div>
              </figure>
            </div>

            <div class="col-md-4">
              <figure class="portfolio-item item">
                <a href="#">
                  <img
                    src="assets/images/project/img17.jpg"
                    alt="Item 1"
                    class="img-fluid"
                  />
                </a>
                <div class="overlay">
                  <div class="inner">
                    <h5>Construction Services</h5>
                    <a
                      href="assets/images/project/img17.jpg"
                      class="zoom popupzoom"
                      ><i class="icofont icofont-search"></i
                    ></a>
                    <a href="#" class="link"
                      ><i class="icofont icofont-link"></i
                    ></a>
                  </div>
                </div>
              </figure>
            </div>

            <div class="col-md-4">
              <figure class="portfolio-item item">
                <a href="#">
                  <img
                    src="assets/images/project/img18.jpg"
                    alt="Item 1"
                    class="img-fluid"
                  />
                </a>
                <div class="overlay">
                  <div class="inner">
                    <h5>Modern Architecture</h5>
                    <a
                      href="assets/images/project/img18.jpg"
                      class="zoom popupzoom"
                      ><i class="icofont icofont-search"></i
                    ></a>
                    <a href="#" class="link"
                      ><i class="icofont icofont-link"></i
                    ></a>
                  </div>
                </div>
              </figure>
            </div>

            <div class="col-md-4">
              <figure class="portfolio-item item">
                <a href="#">
                  <img
                    src="assets/images/project/img19.jpg"
                    alt="Item 1"
                    class="img-fluid"
                  />
                </a>
                <div class="overlay">
                  <div class="inner">
                    <h5>Office Interiors Concepts</h5>
                    <a
                      href="assets/images/project/img19.jpg"
                      class="zoom popupzoom"
                      ><i class="icofont icofont-search"></i
                    ></a>
                    <a href="#" class="link"
                      ><i class="icofont icofont-link"></i
                    ></a>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div> -->

        <!--end portfolio grid -->
      </div>
      <!--end row -->
    </div>
  </div>

  <div class="project_01 project_service_page_01">
    <div class="container">
      <div *ngFor="let product of products">
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="single_service">
            <div class="image image-opacity-on-hover image-zoom-on-hover">
              <img
                src="../../assets/images/project/img11.jpg"
                alt="Service6"
                class="img-responsive"
              />
            </div>

            <div class="content">
              <h4 class="sub-title">{{ product.name }}</h4>
              <div class="simple-text">
                <p>
                  {{ product.describtion }}
                </p>
              </div>
              <div class="wrapper-inner-tab-backgrounds-first">
                <div class="sim-button button8">
                  <a [routerLink]="['/detalis/', product.id]"
                    ><span
                      >View More
                      <i class="icofont icofont-rounded-right"></i></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="single_service">
            <div class="image image-opacity-on-hover image-zoom-on-hover">
              <img
                src="../../assets/images/project/img11.jpg"
                alt="Service6"
                class="img-responsive"
              />
            </div>
            <div class="content">
              <h4 class="sub-title">Project one</h4>
              <div class="simple-text">
                <p>
                  Vivamus ac ultrices diam, vitae accumsan tellus. Integer
                  sollicitudin vulputate lacus, congue vulputate nisl eleifend
                  in.
                </p>
              </div>
              <div class="wrapper-inner-tab-backgrounds-first">
                <div class="sim-button button8">
                  <a href="#"
                    ><span
                      >View More
                      <i class="icofont icofont-rounded-right"></i></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="single_service">
            <div class="image image-opacity-on-hover image-zoom-on-hover">
              <img
                src="../../assets/images/project/img12.jpg"
                alt="Service1"
                class="img-responsive"
              />
            </div>
            <div class="content">
              <h4 class="sub-title">Project Two</h4>
              <div class="simple-text">
                <p>
                  Vivamus ac ultrices diam, vitae accumsan tellus. Integer
                  sollicitudin vulputate lacus, congue vulputate nisl eleifend
                  in.
                </p>
              </div>
              <div class="wrapper-inner-tab-backgrounds-first">
                <div class="sim-button button8">
                  <a href="#"
                    ><span
                      >View More
                      <i class="icofont icofont-rounded-right"></i></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="single_service">
            <div class="image image-opacity-on-hover image-zoom-on-hover">
              <img
                src="../../assets/images/project/img13.jpg"
                alt="Service2"
                class="img-responsive"
              />
            </div>
            <div class="content">
              <h4 class="sub-title">Project Three</h4>
              <div class="simple-text">
                <p>
                  Vivamus ac ultrices diam, vitae accumsan tellus. Integer
                  sollicitudin vulputate lacus, congue vulputate nisl eleifend
                  in.
                </p>
              </div>
              <div class="wrapper-inner-tab-backgrounds-first">
                <div class="sim-button button8">
                  <a href="#"
                    ><span
                      >View More
                      <i class="icofont icofont-rounded-right"></i></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="single_service">
            <div class="image image-opacity-on-hover image-zoom-on-hover">
              <img
                src="../../assets/images/project/img14.jpg"
                alt="Service3"
                class="img-responsive"
              />
            </div>
            <div class="content">
              <h4 class="sub-title">Project Four</h4>
              <div class="simple-text">
                <p>
                  Vivamus ac ultrices diam, vitae accumsan tellus. Integer
                  sollicitudin vulputate lacus, congue vulputate nisl eleifend
                  in.
                </p>
              </div>
              <div class="wrapper-inner-tab-backgrounds-first">
                <div class="sim-button button8">
                  <a href="#"
                    ><span
                      >View More
                      <i class="icofont icofont-rounded-right"></i></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="single_service">
            <div class="image image-opacity-on-hover image-zoom-on-hover">
              <img
                src="../../assets/images/project/img15.jpg"
                alt="Service4"
                class="img-responsive"
              />
            </div>
            <div class="content">
              <h4 class="sub-title">Project Five</h4>
              <div class="simple-text">
                <p>
                  Vivamus ac ultrices diam, vitae accumsan tellus. Integer
                  sollicitudin vulputate lacus, congue vulputate nisl eleifend
                  in.
                </p>
              </div>
              <div class="wrapper-inner-tab-backgrounds-first">
                <div class="sim-button button8">
                  <a href="#"
                    ><span
                      >View More
                      <i class="icofont icofont-rounded-right"></i></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="single_service">
            <div class="image image-opacity-on-hover image-zoom-on-hover">
              <img
                src="../../assets/images/project/img16.jpg"
                alt="Service5"
                class="img-responsive"
              />
            </div>
            <div class="content">
              <h4 class="sub-title">Project Six</h4>
              <div class="simple-text">
                <p>
                  Vivamus ac ultrices diam, vitae accumsan tellus. Integer
                  sollicitudin vulputate lacus, congue vulputate nisl eleifend
                  in.
                </p>
              </div>
              <div class="wrapper-inner-tab-backgrounds-first">
                <div class="sim-button button8">
                  <a href="#"
                    ><span
                      >View More
                      <i class="icofont icofont-rounded-right"></i></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
