<app-nav-bar></app-nav-bar>
<div id="content-wrapper">
  <!--================ Banner Area =================-->
  <div class="banner">
    <div class="container">
      <div class="row">
        <h3 class="tt-title">
          {{ "product.mainTitle" | translation : language }}
        </h3>
      </div>
    </div>
  </div>
  <!--================ End Banner Area =================-->
  <!--================ Breadcrumb =================-->
  <div class="container" [dir]="textDir">
    <div class="row">
      <div class="breadcrumb d-flex justify-content-center">
        <ul>
          <li>
            <a href="home">
              {{ "contactUs.home" | translation : language }}
            </a>
          </li>
          <li *ngIf="textDir === 'ltr'">
            <i class="icofont icofont-double-right"> </i>
          </li>
          <li *ngIf="textDir === 'rtl'" class="rotate-180">
            <i class="icofont icofont-double-right"> </i>
          </li>
          <li>
            <a href="projects">
              {{ "product.mainTitle" | translation : language }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!--================ End Breadcrumb =================-->
  <div class="portfolio latest_work_01 project_3columns ">
    <!-- <div class="container">
      <div class="row">
        <ul class="portfolio-sorting list-inline text-center">
          <li><a href="#" data-group="all" class="active">ALL</a></li>
          <li><a href="#" data-group="residential">Residential</a></li>
          <li><a href="#" data-group="interiors">Interiors</a></li>
          <li><a href="#" data-group="architecture">Architecture</a></li>
          <li><a href="#" data-group="commerical">Commerical</a></li>
        </ul>
      </div>
    </div> -->
  </div>

  <div class="project_01 project_service_page_01 mt-5">
    <div class="container">
      <div *ngFor="let product of products">
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="single_service">
            <div class="image image-opacity-on-hover image-zoom-on-hover">
              <img
                src="../../assets/images/project/img11.jpg"
                alt="Service6"
                class="img-responsive"
              />
            </div>

            <div class="content">
              <h4 class="sub-title">{{ product.name }}</h4>
              <div class="simple-text">
                <p>
                  {{ product.describtion }}
                </p>
              </div>
              <div class="wrapper-inner-tab-backgrounds-first">
                <div class="sim-button button8">
                  <a [routerLink]="['/detalis/', product.id]"
                    ><span
                      >View More
                      <i class="icofont icofont-rounded-right"></i></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="single_service">
            <div class="image image-opacity-on-hover image-zoom-on-hover">
              <img
                src="../../assets/images/project/img11.jpg"
                alt="Service6"
                class="img-responsive"
              />
            </div>
            <div class="content">
              <h4 class="sub-title">Project one</h4>
              <div class="simple-text">
                <p>
                  Vivamus ac ultrices diam, vitae accumsan tellus. Integer
                  sollicitudin vulputate lacus, congue vulputate nisl eleifend
                  in.
                </p>
              </div>
              <div class="wrapper-inner-tab-backgrounds-first">
                <div class="sim-button button8">
                  <a href="#"
                    ><span
                      >View More
                      <i class="icofont icofont-rounded-right"></i></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="single_service">
            <div class="image image-opacity-on-hover image-zoom-on-hover">
              <img
                src="../../assets/images/project/img12.jpg"
                alt="Service1"
                class="img-responsive"
              />
            </div>
            <div class="content">
              <h4 class="sub-title">Project Two</h4>
              <div class="simple-text">
                <p>
                  Vivamus ac ultrices diam, vitae accumsan tellus. Integer
                  sollicitudin vulputate lacus, congue vulputate nisl eleifend
                  in.
                </p>
              </div>
              <div class="wrapper-inner-tab-backgrounds-first">
                <div class="sim-button button8">
                  <a href="#"
                    ><span
                      >View More
                      <i class="icofont icofont-rounded-right"></i></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="single_service">
            <div class="image image-opacity-on-hover image-zoom-on-hover">
              <img
                src="../../assets/images/project/img13.jpg"
                alt="Service2"
                class="img-responsive"
              />
            </div>
            <div class="content">
              <h4 class="sub-title">Project Three</h4>
              <div class="simple-text">
                <p>
                  Vivamus ac ultrices diam, vitae accumsan tellus. Integer
                  sollicitudin vulputate lacus, congue vulputate nisl eleifend
                  in.
                </p>
              </div>
              <div class="wrapper-inner-tab-backgrounds-first">
                <div class="sim-button button8">
                  <a href="#"
                    ><span
                      >View More
                      <i class="icofont icofont-rounded-right"></i></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="single_service">
            <div class="image image-opacity-on-hover image-zoom-on-hover">
              <img
                src="../../assets/images/project/img14.jpg"
                alt="Service3"
                class="img-responsive"
              />
            </div>
            <div class="content">
              <h4 class="sub-title">Project Four</h4>
              <div class="simple-text">
                <p>
                  Vivamus ac ultrices diam, vitae accumsan tellus. Integer
                  sollicitudin vulputate lacus, congue vulputate nisl eleifend
                  in.
                </p>
              </div>
              <div class="wrapper-inner-tab-backgrounds-first">
                <div class="sim-button button8">
                  <a href="#"
                    ><span
                      >View More
                      <i class="icofont icofont-rounded-right"></i></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="single_service">
            <div class="image image-opacity-on-hover image-zoom-on-hover">
              <img
                src="../../assets/images/project/img15.jpg"
                alt="Service4"
                class="img-responsive"
              />
            </div>
            <div class="content">
              <h4 class="sub-title">Project Five</h4>
              <div class="simple-text">
                <p>
                  Vivamus ac ultrices diam, vitae accumsan tellus. Integer
                  sollicitudin vulputate lacus, congue vulputate nisl eleifend
                  in.
                </p>
              </div>
              <div class="wrapper-inner-tab-backgrounds-first">
                <div class="sim-button button8">
                  <a href="#"
                    ><span
                      >View More
                      <i class="icofont icofont-rounded-right"></i></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="single_service">
            <div class="image image-opacity-on-hover image-zoom-on-hover">
              <img
                src="../../assets/images/project/img16.jpg"
                alt="Service5"
                class="img-responsive"
              />
            </div>
            <div class="content">
              <h4 class="sub-title">Project Six</h4>
              <div class="simple-text">
                <p>
                  Vivamus ac ultrices diam, vitae accumsan tellus. Integer
                  sollicitudin vulputate lacus, congue vulputate nisl eleifend
                  in.
                </p>
              </div>
              <div class="wrapper-inner-tab-backgrounds-first">
                <div class="sim-button button8">
                  <a href="#"
                    ><span
                      >View More
                      <i class="icofont icofont-rounded-right"></i></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
