.whatsapp-button {
  position: fixed;
  bottom: 20px;
  cursor: pointer;
  border-radius: 20px;
  color: white;
  padding: 10px;
  margin: 15px;
  z-index: 1000;
}
.custom-size {
  font-size: 3.5em; /* or any other size you prefer */
  color: #44bd39;
}
