<header class="header2" [dir]="textDir">
  <div class="header_top_02">
    <div class="mx-5">
      <div class="d-flex justify-content-between">
        <div class="">
          <ul class="d-flex justifiy-content-center gap-3">
            <li>
              <i class="icofont icofont-social-google-map"></i>
              {{ settingGet.describtion }}
            </li>
            <li>
              <a href="mailto:info@parcons.com"
                ><i class="icofont icofont-envelope"></i>
                {{ settingGet.email }}
              </a>
            </li>
          </ul>
        </div>
        <div class="">
          <p>
            Toll Free<span class="ps-3">{{ settingGet.firstPhoneNumber }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="tt-header bg-transparent-sm" [dir]="textDir">
    <div class="container bg-transparent-sm">
      <div class="top-inner clearfix">
        <div class="logo pull-left main-logo">
          <a href="index.html"
            ><img src="../../assets/images/" class="img-responsive" alt=""
          /></a>
        </div>

        <div class="cmn-toggle-switch"><span></span></div>
      </div>
      <div
        class="toggle-block nav w-100 d-xl-flex justify-content-between col-lg-6"
      >
        <div
          class="toggle-block-container w-100 d-xl-flex justify-content-between"
        >
          <nav class="main-nav clearfix w-100">
            <ul class="d-xl-flex w-100 justify-content-between">
              <li class="active parent" [class.rtl]="selectedLanguage === 'ar'">
                <a href="home"
                  ><span>
                    {{ "navbar.home" | translation : language }}
                  </span></a
                >
              </li>
              <li class="parent">
                <a href="about"
                  ><span>
                    {{ "navbar.about" | translation : language }}
                  </span></a
                >
              </li>

              <li class="parent">
                <a class=""
                  ><span class="">
                    {{ "navbar.services" | translation : language
                    }}<i
                      class="menu-toggle fa fa-angle-down pe-5 pe-lg-0"
                    ></i> </span
                ></a>
                <ul class="ms-0 me-0 ps-0">
                  <li
                    *ngFor="let cat of categories"
                    class="parent uldir"
                    [class.rtl]="selectedLanguage === 'ar'"
                  >
                    <a [routerLink]="['/services/', cat.id]"
                      ><span> {{ cat.name }}</span></a
                    >
                  </li>
                </ul>
              </li>

              <li class="parent">
                <a href="projects"
                  ><span>
                    {{ "navbar.Products" | translation : language }}

                    <!-- <i class="menu-toggle fa fa-angle-down"></i> -->
                  </span></a
                >
                <!-- <ul>
                  <li>
                    <a href="project_details.html"
                      ><span>Project Details</span></a
                    >
                  </li>
                </ul> -->
              </li>
              <li class="last">
                <a href="contact"
                  ><span>
                    {{ "navbar.contact" | translation : language }}
                  </span></a
                >
              </li>
              <li class="my-3 my-md-5">
                <div class="dropdown">
                  <button
                    class="langbtn dropdown-toggle"
                    type="button"
                    id="languageDropdown"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    {{ selectedLanguage === "ar" ? "Ar" : "En" }}
                  </button>
                  <div
                    class="dropdown-menu p-3 me-5 rounded"
                    aria-labelledby="languageDropdown"
                  >
                    <button
                      type="button"
                      class="dropdown-item"
                      (click)="switchLanguage('en')"
                    >
                      English
                    </button>
                    <button
                      type="button"
                      class="dropdown-item"
                      (click)="switchLanguage('ar')"
                    >
                      العربية
                    </button>
                  </div>
                </div>
              </li>

              <!-- <li class="my-3 mt-md-5">
                <button
                  (click)="switchLanguage()"
                  [ngClass]="{
                    english: currentLanguage === 'en',
                    arabic: currentLanguage === 'ar'
                  }"
                >
                  {{ currentLanguage }}
                </button>
              </li> -->

              <!-- <li class="my-3 my-md-5 mx-xl-1">
                <span *ngIf="selectedLanguage === 'ar'">
                  <button
                    type="button"
                    (click)="switchLanguage('en')"
                    class="langbtn"
                  >
                    English
                  </button>
                </span>
                <span *ngIf="selectedLanguage === 'en'">
                  <button
                    type="button"
                    (click)="switchLanguage('ar')"
                    class="langbtn"
                  >
                    العربية
                  </button>
                </span>
              </li> -->
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
